## MongoDB Exercise

### Setup

Import the following documents into a `universities` collection:

```json
[
   {
      "country":"Spain",
      "city":"Salamanca",
      "name":"USAL",
      "location":{
         "type":"Point",
         "coordinates":[
            -5.6722512,
            17,
            40.9607792
         ]
      },
      "students":[
         {
            "year":2014,
            "number":24774
         },
         {
            "year":2015,
            "number":23166
         },
         {
            "year":2016,
            "number":21913
         },
         {
            "year":2017,
            "number":21715
         }
      ]
   },
   {
      "country":"Spain",
      "city":"Salamanca",
      "name":"UPSA",
      "location":{
         "type":"Point",
         "coordinates":[
            -5.6691191,
            17,
            40.9631732
         ]
      },
      "students":[
         {
            "year":2014,
            "number":4788
         },
         {
            "year":2015,
            "number":4821
         },
         {
            "year":2016,
            "number":6550
         },
         {
            "year":2017,
            "number":6125
         }
      ]
   }
]
```

In [ ]:
# Install the dependencies

In [ ]:
# Import the required libraries

In [ ]:
# Get the colab otebook IP

In [ ]:
# Write the Solution

# Hint:
# 1. Connect to the Atlas cluster
# 2. Get the database object
# 3. Get the collection object
# 4. Insert the data into the collection

Insert the following documents into the `courses` collection:

```json
[
   {
      "university":"USAL",
      "name":"Computer Science",
      "level":"Excellent"
   },
   {
      "university":"USAL",
      "name":"Electronics",
      "level":"Intermediate"
   },
   {
      "university":"USAL",
      "name":"Communication",
      "level":"Excellent"
   }
]
```

In [ ]:
# Write the Solution

### MongoDB Aggregations

### Exercise 1 ðŸ’»

Use the `$match` stage to find the `universities` which specify that `Spain` is the value of the field `country`, and `Salamanca` is the value of the field `city`.

In [ ]:
# Write the Solution

### Exercise 2 ðŸ’»

Use the `$project` stage to the following fields from the `universities`:
* `country`
* `city`
* `name`

In [ ]:
# Write the Solution

### Exercise 3 ðŸ’»

Use the [`$group`](https://www.mongodb.com/docs/manual/reference/operator/aggregation/group/) stage to get the number of courses per level in our `courses` collection

In [ ]:
# Write the Solution

The `$group` stage supports certain expressions (operators) allowing users to perform arithmetic, array, boolean and other operations as part of the aggregation pipeline.

| Operator | Meaning |
| -------- | ------- |
| `$count` | Calculates the quantity of documents in the given group. |
| `$max` | Displays the maximum value of a documentâ€™s field in the collection. |
| `$min` | Displays the minimum value of a documentâ€™s field in the collection. |
| `$avg` | Displays the average value of a documentâ€™s field in the collection. |
| `$sum` | Sums up the specified values of all documents in the collection. |
| `$push` | Adds extra values into the array of the resulting document. |

### Exercise 4 ðŸ’»

The `$out` stage is used to store the results of an aggregation in a separate collection. Store the results of the previous aggregation pipeline in a collection called `test_out`.

In [ ]:
# Write the Solution

### Exercise 5 ðŸ’»

Use the `$unwind` stage, get all students information in seprate documents.

In [ ]:
# Write the Solution

### Exercise 6 ðŸ’»

Use the `$sort` stage to sort the results from the last aggregation pipeline using the `number` field.

In [ ]:
# Write the Solution

Exercise 7 ðŸ’»

Use the `$limit` stage to get the first 2 results from the previous pipeline.

In [ ]:
# Write the Solution

### Exercise 8 ðŸ’»

Retrieve all the `universities`, and add a new field called `foundation_year`, with value 2000. Use the `$addFields` stage.

In [ ]:
# Write the solution

### Exercise 9 ðŸ’»

Use the `$count` stage, with the `$unwind` stage, to get the number of students information in all `universities`.

In [ ]:
# Write the solution

### Exercise 10 ðŸ’»

Use the `$lookup` stage to get the `courses` information for the `USAL` university.

Output should be similar to:
```json
{
	"name" : "USAL",
	"courses" : [
		{
			"_id" : ObjectId("5b7d9ea5fbc9884f689cdbab"),
			"university" : "USAL",
			"name" : "Computer Science",
			"level" : "Excellent"
		},
		{
			"_id" : ObjectId("5b7d9ea5fbc9884f689cdbac"),
			"university" : "USAL",
			"name" : "Electronics",
			"level" : "Intermediate"
		},
		{
			"_id" : ObjectId("5b7d9ea5fbc9884f689cdbad"),
			"university" : "USAL",
			"name" : "Communication",
			"level" : "Excellent"
		}
	]
}
```

In [ ]:
# Write the solution

### Exercise 11 ðŸ’»

What is the total number of students that have ever belonged to each one of the universities?
Sort the result by number of students descending.

 Output should be similar to:
 ```json
{ "_id" : "USAL", "totalalumni" : 91568 }
{ "_id" : "UPSA", "totalalumni" : 22284 }
 ```

In [ ]:
# Write the solution