## MongoDB Exercise

### MongoDB Updates

### Exercise 1 ðŸ’»

Insert the data from `iris.json` into a new collection.
To load the data, you can use the following:

```python
import json

with open('iris.json') as file:
  data = json.load(file)
```

In [ ]:
# Install the dependencies

In [ ]:
# Import the required libraries

In [ ]:
# Get the colab otebook IP

In [ ]:
# Write the Solution

# Hint:
# 1. Connect to the Atlas cluster
# 2. Get the database object
# 3. Get the collection object
# 4. Insert the data into the collection

### Exercise 2 ðŸ’»

Update all plants, add a new field called `price`, with a value of `2`.

In [ ]:
# Write the Solution

### Exercise 3 ðŸ’»

Update `setosa` plants, increment their price by `1`.

In [ ]:
# Write the Solution

# Hint
# 1. Use the `species` field

### Exercise 4 ðŸ’»

We want to add a promotion on `versicolor` plants, we want to decrease their price by 10%.

In [ ]:
# Write the Solution

### Exercise 5 ðŸ’»

Load the `menu.json` dataset.

In [ ]:
# Write the Solution

### Exercise 6 ðŸ’»

Update the `Hamburger`, add `Pickles` to the ingredients list.

In [ ]:
# Write the Solution

Exercise 7 ðŸ’»

Update the `Chicken Tenders`, add `Dipping Sauce` to the ingredients list if it doesn't exist already (Using a single query).

In [ ]:
# Write the Solution

### Exercise 8 ðŸ’»

Cleanup the database, remove all items that we added.

In [ ]:
# Write the solution