## MongoDB Exercise

### Basic MongoDB Queries

### Exercise 1 ðŸ’»

HR has sent over new employee information.
Insert the new data into the employee_info collection, in the employee_db database.

The data is first shown in tabular format followed by JSON object format

```
{
  "empno": 1,
  "fname": "charlie",
  "lname": "rodgers",
  "role": "manager",
  "departments": ["sales", "marketing"]
},
{
  "empno": 2,
  "fname": "sunil",
  "lname": "chakraborty",
  "role": "team lead",
  "departments": ["marketing", "finance"]
},
{
  "empno": 3,
  "fname": "sally",
  "lname": "jones",
  "role": "team lead",
  "departments": ["hr", "admin"]
},
{
  "empno": 4,
  "fname": "ben",
  "lname": "bradley",
  "role": "manager",
  "departments": ["legal"]
},
{
  "empno": 5,
  "fname": "radha",
  "lname": "desai",
  "role": "worker"
},
{
  "empno": 6,
  "fname": "shruti",
  "lname": "patel",
  "role": "worker"
},
{
  "empno": 7,
  "fname": "mahesh",
  "lname": "iyer",
  "role": "manager"
}
```

In [ ]:
# Install the dependencies

In [ ]:
# Import the required libraries

In [ ]:
# Get the colab otebook IP

In [ ]:
# Write the Solution

# Hint:
# 1. Connect to the Atlas cluster
# 2. Get the database object
# 3. Get the collection object
# 4. Insert the data into the collection

### Exercise 2 ðŸ’»

You've got some more interesting employees!
Convert the following table to JSON and insert it into our employee_info collection.

Name | Title | Interesting Fact | Address
--- | --- | --- | ---
Harry Potter | Wizard | I kicked the sh*t out of Voldemort! | Hogwarts castle
Groot | Superhero | I can only say 3 words in this order: 'I am Groot'! | Planet X
Pikachu | Electric type pokemon | Want to see my ThuderBolt and Quick Attack?! | Pallet Town

In [ ]:
# Write the Solution

# Hint:
# 1. Use the same collection object
# 2. Insert the data into the collection

### Exercise 3 ðŸ’»

Get the number of documents in the listingsAndReviews collection, in the sample_airbnb dataset.

Insert the result in the database "results", collection "exercise_1"

The shape of the result is:
```
{
  exercise_number: 3,
  result : ___
}
```

In [ ]:
# Write the Solution

# Hint:
# 1. Use the existing database connection
# 2. Get the database and collection objects
# 3. Use the count_documents method
# 4. Get the result database and collection objects
# 5. Insert the result into the collection

### Exercise 4 ðŸ’»

Get the number of unique property_type in the listingsAndReviews collection, in the sample_airbnb dataset.

Insert the result in the database "results", collection "exercise_1"

The shape of the result is:
```
{
  exercise_number: 4,
  result : ___
}
```

In [ ]:
# Write the Solution

# Hint
# 1. Use the distinct method
# 2. Use the len method from python if necessary

### Exercise 5 ðŸ’»

Get the number of documents if a property_type value of "Bed and breakfast".

Insert the result in the database "results", collection "exercise_1"

The shape of the result is:
```
{
  exercise_number: 5,
  result : ___
}
```

In [ ]:
# Write the Solution

### Exercise 6 ðŸ’»

Get the number of documents with a property_type value of "Bed and breakfast" and a cancellation_policy value of "flexible".

Insert the result in the database "results", collection "exercise_1"

The shape of the result is:
```
{
  exercise_number: 6,
  result : ___
}
```

In [ ]:
# Write the Solution

### Exercise 7 ðŸ’»

Print one document from the listingsAndReviews collection

In [ ]:
# Write the Solution

Exercise 8 ðŸ’»

The result contains a lot of information.

Let's filter the output, and only show:
- _id
- name
- property_type
- room_type
- address

In [ ]:
# Write the Solution

Exercise 9 ðŸ’»

Get the same details for one listing in the United States

In [ ]:
# Write the Solution

Exercise 10 ðŸ’»

Get one listing in the United States, with "Hot Water" and "Iron" in amenities.

You need to show the amenities information in the result as well.

In [ ]:
# Write the Solution

### Exercise 11 ðŸ’»

Get one listing in the United States, with "Internet"as the second element in the amenities list.

You need to show the amenities information in the result as well.

In [ ]:
# Write the Solution

### Exercise 12 ðŸ’»

Get the number of listings that `accomodates` more than 8 people.

In [ ]:
# Write the solution

# Hint
# 1. Use the $gt method
# 2. Use the `accomodates` field

### Exercise 13 ðŸ’»

Get the listings where `address.country` is `China`, or with more than 300 reviews `number_of_reviews`

In [ ]:
# Write the solution