## MongoDB Exercise

### Setup

Import the following documents into a `universities` collection:

```json
[
   {
      "country":"Spain",
      "city":"Salamanca",
      "name":"USAL",
      "location":{
         "type":"Point",
         "coordinates":[
            -5.6722512,
            17,
            40.9607792
         ]
      },
      "students":[
         {
            "year":2014,
            "number":24774
         },
         {
            "year":2015,
            "number":23166
         },
         {
            "year":2016,
            "number":21913
         },
         {
            "year":2017,
            "number":21715
         }
      ]
   },
   {
      "country":"Spain",
      "city":"Salamanca",
      "name":"UPSA",
      "location":{
         "type":"Point",
         "coordinates":[
            -5.6691191,
            17,
            40.9631732
         ]
      },
      "students":[
         {
            "year":2014,
            "number":4788
         },
         {
            "year":2015,
            "number":4821
         },
         {
            "year":2016,
            "number":6550
         },
         {
            "year":2017,
            "number":6125
         }
      ]
   }
]
```

In [1]:
# Install the dependencies
!pip install "pymongo[srv]"

Collecting pymongo[srv]
  Downloading pymongo-4.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 677.1/677.1 kB 8.2 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo[srv])
  Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 307.7/307.7 kB 11.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.6.1

In [8]:
# Import the required libraries
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import pprint

In [3]:
# Get the colab otebook IP
!curl ipecho.net/plain

34.32.204.211

In [5]:
# Write the Solution

# Hint:
# 1. Connect to the Atlas cluster
# 2. Get the database object
# 3. Get the collection object
# 4. Insert the data into the collection
username = ""
password = ""
cluster_url = ""

uri = f"mongodb+srv://{username}:{password}@{cluster_url}/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [6]:
universities = client['aggregate']['universities']

universities.insert_many([
   {
      "country":"Spain",
      "city":"Salamanca",
      "name":"USAL",
      "location":{
         "type":"Point",
         "coordinates":[
            -5.6722512,
            17,
            40.9607792
         ]
      },
      "students":[
         {
            "year":2014,
            "number":24774
         },
         {
            "year":2015,
            "number":23166
         },
         {
            "year":2016,
            "number":21913
         },
         {
            "year":2017,
            "number":21715
         }
      ]
   },
   {
      "country":"Spain",
      "city":"Salamanca",
      "name":"UPSA",
      "location":{
         "type":"Point",
         "coordinates":[
            -5.6691191,
            17,
            40.9631732
         ]
      },
      "students":[
         {
            "year":2014,
            "number":4788
         },
         {
            "year":2015,
            "number":4821
         },
         {
            "year":2016,
            "number":6550
         },
         {
            "year":2017,
            "number":6125
         }
      ]
   }
])

InsertManyResult([ObjectId('65d488d69bebdd92d8508718'), ObjectId('65d488d69bebdd92d8508719')], acknowledged=True)

Insert the following documents into the `courses` collection:

```json
[
   {
      "university":"USAL",
      "name":"Computer Science",
      "level":"Excellent"
   },
   {
      "university":"USAL",
      "name":"Electronics",
      "level":"Intermediate"
   },
   {
      "university":"USAL",
      "name":"Communication",
      "level":"Excellent"
   }
]
```

In [7]:
# Write the Solution
courses = client['aggregate']['courses']

courses.insert_many([
   {
      "university":"USAL",
      "name":"Computer Science",
      "level":"Excellent"
   },
   {
      "university":"USAL",
      "name":"Electronics",
      "level":"Intermediate"
   },
   {
      "university":"USAL",
      "name":"Communication",
      "level":"Excellent"
   }
])

InsertManyResult([ObjectId('65d48a7e9bebdd92d850871a'), ObjectId('65d48a7e9bebdd92d850871b'), ObjectId('65d48a7e9bebdd92d850871c')], acknowledged=True)

### MongoDB Aggregations

### Exercise 1 üíª

Use the `$match` stage to find the `universities` which specify that `Spain` is the value of the field `country`, and `Salamanca` is the value of the field `city`.

In [9]:
# Write the Solution
cursor = universities.aggregate([
    {
        "$match": {
            "country": "Spain"
        }
    }
])

for university in cursor:
  pprint.pprint(university)

{'_id': ObjectId('65d488d69bebdd92d8508718'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6722512, 17, 40.9607792], 'type': 'Point'},
 'name': 'USAL',
 'students': [{'number': 24774, 'year': 2014},
              {'number': 23166, 'year': 2015},
              {'number': 21913, 'year': 2016},
              {'number': 21715, 'year': 2017}]}
{'_id': ObjectId('65d488d69bebdd92d8508719'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6691191, 17, 40.9631732], 'type': 'Point'},
 'name': 'UPSA',
 'students': [{'number': 4788, 'year': 2014},
              {'number': 4821, 'year': 2015},
              {'number': 6550, 'year': 2016},
              {'number': 6125, 'year': 2017}]}

### Exercise 2 üíª

Use the `$project` stage to the following fields from the `universities`:
* `country`
* `city`
* `name`

In [10]:
# Write the Solution
cursor = universities.aggregate([
    {
        "$project": {
            "country": 1,
            "city": 1,
            "name": 1
        }
    }
])

for university in cursor:
  pprint.pprint(university)

{'_id': ObjectId('65d488d69bebdd92d8508718'),
 'city': 'Salamanca',
 'country': 'Spain',
 'name': 'USAL'}
{'_id': ObjectId('65d488d69bebdd92d8508719'),
 'city': 'Salamanca',
 'country': 'Spain',
 'name': 'UPSA'}

### Exercise 3 üíª

Use the [`$group`](https://www.mongodb.com/docs/manual/reference/operator/aggregation/group/) stage to get the number of courses per level in our `courses` collection

In [11]:
# Write the Solution
# Write the Solution
cursor = courses.aggregate([
    {
        "$group": {
            "_id": "$level",
            "count": {
                "$sum": 1
            }
        }
    }
])

for item in cursor:
  pprint.pprint(item)

{'_id': 'Excellent', 'count': 2}
{'_id': 'Intermediate', 'count': 1}

The `$group` stage supports certain expressions (operators) allowing users to perform arithmetic, array, boolean and other operations as part of the aggregation pipeline.

| Operator | Meaning |
| -------- | ------- |
| `$count` | Calculates the quantity of documents in the given group. |
| `$max` | Displays the maximum value of a document‚Äôs field in the collection. |
| `$min` | Displays the minimum value of a document‚Äôs field in the collection. |
| `$avg` | Displays the average value of a document‚Äôs field in the collection. |
| `$sum` | Sums up the specified values of all documents in the collection. |
| `$push` | Adds extra values into the array of the resulting document. |

### Exercise 4 üíª

The `$out` stage is used to store the results of an aggregation in a separate collection. Store the results of the previous aggregation pipeline in a collection called `test_out`.

In [12]:
# Write the Solution
courses.aggregate([
    {
        "$group": {
            "_id": "$level",
            "count": {
                "$sum": 1
            }
        }
    },{
        "$out" : "test_out"
    }
])

for item in client['aggregate']['test_out'].find({}):
  print(item)

{'_id': 'Intermediate', 'count': 1}
{'_id': 'Excellent', 'count': 2}

### Exercise 5 üíª

Use the `$unwind` stage, get all students information in seprate documents.

In [13]:
# Write the Solution
cursor = universities.aggregate([
    {
        "$unwind" : "$students"
    }
])

for university in cursor:
  pprint.pprint(university)

{'_id': ObjectId('65d488d69bebdd92d8508718'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6722512, 17, 40.9607792], 'type': 'Point'},
 'name': 'USAL',
 'students': {'number': 24774, 'year': 2014}}
{'_id': ObjectId('65d488d69bebdd92d8508718'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6722512, 17, 40.9607792], 'type': 'Point'},
 'name': 'USAL',
 'students': {'number': 23166, 'year': 2015}}
{'_id': ObjectId('65d488d69bebdd92d8508718'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6722512, 17, 40.9607792], 'type': 'Point'},
 'name': 'USAL',
 'students': {'number': 21913, 'year': 2016}}
{'_id': ObjectId('65d488d69bebdd92d8508718'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6722512, 17, 40.9607792], 'type': 'Point'},
 'name': 'USAL',
 'students': {'number': 21715, 'year': 2017}}
{'_id': ObjectId('65d488d69bebdd92d8508719'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6691191, 17, 40.9631732], 'type': 'Point'},
 'name': 'UPSA',
 'students': {'number': 4788, 'year': 2014}}
{'_id': ObjectId('65d488d69bebdd92d8508719'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6691191, 17, 40.9631732], 'type': 'Point'},
 'name': 'UPSA',
 'students': {'number': 4821, 'year': 2015}}
{'_id': ObjectId('65d488d69bebdd92d8508719'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6691191, 17, 40.9631732], 'type': 'Point'},
 'name': 'UPSA',
 'students': {'number': 6550, 'year': 2016}}
{'_id': ObjectId('65d488d69bebdd92d8508719'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6691191, 17, 40.9631732], 'type': 'Point'},
 'name': 'UPSA',
 'students': {'number': 6125, 'year': 2017}}

### Exercise 6 üíª

Use the `$sort` stage to sort the results from the last aggregation pipeline using the `number` field.

In [14]:
# Write the Solution
# Write the Solution
cursor = universities.aggregate([
    {
        "$unwind" : "$students"
    }, {
        "$sort" : {
            "number" : 1
        }
    }
])

for university in cursor:
  pprint.pprint(university)

{'_id': ObjectId('65d488d69bebdd92d8508718'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6722512, 17, 40.9607792], 'type': 'Point'},
 'name': 'USAL',
 'students': {'number': 24774, 'year': 2014}}
{'_id': ObjectId('65d488d69bebdd92d8508718'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6722512, 17, 40.9607792], 'type': 'Point'},
 'name': 'USAL',
 'students': {'number': 23166, 'year': 2015}}
{'_id': ObjectId('65d488d69bebdd92d8508718'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6722512, 17, 40.9607792], 'type': 'Point'},
 'name': 'USAL',
 'students': {'number': 21913, 'year': 2016}}
{'_id': ObjectId('65d488d69bebdd92d8508718'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6722512, 17, 40.9607792], 'type': 'Point'},
 'name': 'USAL',
 'students': {'number': 21715, 'year': 2017}}
{'_id': ObjectId('65d488d69bebdd92d8508719'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6691191, 17, 40.9631732], 'type': 'Point'},
 'name': 'UPSA',
 'students': {'number': 4788, 'year': 2014}}
{'_id': ObjectId('65d488d69bebdd92d8508719'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6691191, 17, 40.9631732], 'type': 'Point'},
 'name': 'UPSA',
 'students': {'number': 4821, 'year': 2015}}
{'_id': ObjectId('65d488d69bebdd92d8508719'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6691191, 17, 40.9631732], 'type': 'Point'},
 'name': 'UPSA',
 'students': {'number': 6550, 'year': 2016}}
{'_id': ObjectId('65d488d69bebdd92d8508719'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6691191, 17, 40.9631732], 'type': 'Point'},
 'name': 'UPSA',
 'students': {'number': 6125, 'year': 2017}}

Exercise 7 üíª

Use the `$limit` stage to get the first 2 results from the previous pipeline.

In [15]:
# Write the Solution
# Write the Solution
cursor = universities.aggregate([
    {
        "$unwind" : "$students"
    }, {
        "$sort" : {
            "number" : 1
        }
    }, {
        "$limit" : 2
    }
])

for university in cursor:
  pprint.pprint(university)

{'_id': ObjectId('65d488d69bebdd92d8508718'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6722512, 17, 40.9607792], 'type': 'Point'},
 'name': 'USAL',
 'students': {'number': 24774, 'year': 2014}}
{'_id': ObjectId('65d488d69bebdd92d8508718'),
 'city': 'Salamanca',
 'country': 'Spain',
 'location': {'coordinates': [-5.6722512, 17, 40.9607792], 'type': 'Point'},
 'name': 'USAL',
 'students': {'number': 23166, 'year': 2015}}

### Exercise 8 üíª

Retrieve all the `universities`, and add a new field called `foundation_year`, with value 2000. Use the `$addFields` stage.

In [16]:
# Write the Solution
cursor = universities.aggregate([
    {
        "$addFields" : {
            "foundation_year" : 2000
        }
    }
])

for university in cursor:
  pprint.pprint(university)

{'_id': ObjectId('65d488d69bebdd92d8508718'),
 'city': 'Salamanca',
 'country': 'Spain',
 'foundation_year': 2000,
 'location': {'coordinates': [-5.6722512, 17, 40.9607792], 'type': 'Point'},
 'name': 'USAL',
 'students': [{'number': 24774, 'year': 2014},
              {'number': 23166, 'year': 2015},
              {'number': 21913, 'year': 2016},
              {'number': 21715, 'year': 2017}]}
{'_id': ObjectId('65d488d69bebdd92d8508719'),
 'city': 'Salamanca',
 'country': 'Spain',
 'foundation_year': 2000,
 'location': {'coordinates': [-5.6691191, 17, 40.9631732], 'type': 'Point'},
 'name': 'UPSA',
 'students': [{'number': 4788, 'year': 2014},
              {'number': 4821, 'year': 2015},
              {'number': 6550, 'year': 2016},
              {'number': 6125, 'year': 2017}]}

### Exercise 9 üíª

Use the `$count` stage, with the `$unwind` stage, to get the number of students information in all `universities`.

In [17]:
# Write the Solution
# Write the Solution
cursor = universities.aggregate([
    {
        "$unwind" : "$students"
    }, {
        "$count" : "student_information_count"
    }
])

for item in cursor:
  pprint.pprint(item)

{'student_information_count': 8}

### Exercise 10 üíª

Use the `$lookup` stage to get the `courses` information for the `USAL` university.

Output should be similar to:
```json
{
	"name" : "USAL",
	"courses" : [
		{
			"_id" : ObjectId("5b7d9ea5fbc9884f689cdbab"),
			"university" : "USAL",
			"name" : "Computer Science",
			"level" : "Excellent"
		},
		{
			"_id" : ObjectId("5b7d9ea5fbc9884f689cdbac"),
			"university" : "USAL",
			"name" : "Electronics",
			"level" : "Intermediate"
		},
		{
			"_id" : ObjectId("5b7d9ea5fbc9884f689cdbad"),
			"university" : "USAL",
			"name" : "Communication",
			"level" : "Excellent"
		}
	]
}
```

In [21]:
# Write the Solution
# Write the Solution
cursor = universities.aggregate([
    {
        "$match" : {
            "name": "USAL"
        }
    },{
        "$lookup" : {
            "from": "courses",
            "localField": "name",
            "foreignField": "university",
            "as": "courses"
        }
    },{
        "$project" : {
            "_id": 0,
            "name": 1,
            "courses": 1
        }
    }
])

for university in cursor:
  pprint.pprint(university)

{'courses': [{'_id': ObjectId('65d48a7e9bebdd92d850871a'),
              'level': 'Excellent',
              'name': 'Computer Science',
              'university': 'USAL'},
             {'_id': ObjectId('65d48a7e9bebdd92d850871b'),
              'level': 'Intermediate',
              'name': 'Electronics',
              'university': 'USAL'},
             {'_id': ObjectId('65d48a7e9bebdd92d850871c'),
              'level': 'Excellent',
              'name': 'Communication',
              'university': 'USAL'}],
 'name': 'USAL'}

### Exercise 11 üíª

What is the total number of students that have ever belonged to each one of the universities?
Sort the result by number of students descending.

 Output should be similar to:
 ```json
{ "_id" : "USAL", "totalalumni" : 91568 }
{ "_id" : "UPSA", "totalalumni" : 22284 }
 ```

In [23]:
# Write the Solution
# Write the Solution
cursor = universities.aggregate([
    {
        "$unwind" : "$students"
    }, {
        "$group" : {
            "_id": "$name",
            "totlaalumni": {
                "$sum": "$students.number"
            }
        }
    }, {
        "$sort" : {
            "totalalumni": -1
        }
    }
])

for item in cursor:
  pprint.pprint(item)

{'_id': 'USAL', 'totlaalumni': 91568}
{'_id': 'UPSA', 'totlaalumni': 22284}